.style h1{
    margin: 1cm;
    text-align: center;
}
#ol1 li{
    list-style: upper-latin;
    font-weight: bold;
}
#ol1{
    border: solid black 1px;
}
.task4 h1{
    text-align: center;
    margin-bottom: 1cm;
}